// color definitions for the website
$unibas-mint = rgb(165, 215, 210);
$unibas-anthracite = rgb(45, 55, 60);
$unibas-red = rgb(210, 5, 55);
$unibas-grey = rgb(234, 234, 234);

$unibas-black = rgb(0, 0, 0);
$unibas-white = rgb(255, 255, 255);

$unibas-text = rgb(34, 34, 34);
$unibas-placeholder = #9b9b9b;
